button{
    color: #000;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    
}
 button:hover{
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
 }
 .bnt:hover{
   cursor: none;
 }